<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165128879718-ljsft8v6upnqs7c8qlorj15ju5f380bg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165128879718-ljsft8v6upnqs7c8qlorj15ju5f380bg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>165128879718-jpueeqj4hamlhhi5cah147cfe44fn8hr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXSK45P_OQdR9OgkXPMlO7lw_zYt2m2o4</string>
	<key>GCM_SENDER_ID</key>
	<string>165128879718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sahabit.absher</string>
	<key>PROJECT_ID</key>
	<string>nfc-project-21b56</string>
	<key>STORAGE_BUCKET</key>
	<string>nfc-project-21b56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165128879718:ios:281a38b0f6e8d9a199f7a7</string>
	<key>DATABASE_URL</key>
	<string>https://nfc-project-21b56-default-rtdb.firebaseio.com</string>
</dict>
</plist>